body{
    background-color: beige;
    margin: 0% ;
}
.parent{
    background-color: rgb(53, 87, 121);
    height: 100px;
    width: 100%;
}
.child{
    text-align: center;
    color: aliceblue;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}
.fa-brands{
    margin:30px 30px;
}
.container{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.div1{
    background-color: rgb(57, 54, 54);
    height: 400px;
    width: 200px;
    border-radius: 5%;
    margin: 20px 20px;  
}
.div2{
    background-color: rgb(57, 54, 54);
    height: 50px;
    width: 500px;
    border-radius: 5%;
    margin: 50px 50px; 
}
.div3{
    background-color: rgb(57, 54, 54);
    height: 90px;
    width: 150px;
    border-radius: 5%;
    margin: 30px 30px; 
}
.div4{
    background-color: rgb(57, 54, 54);
    height: 100px;
    width: 600px;
    border-radius: 5%;
    margin: 50px 50px;
    margin-left: 100px;
}